doctype html
html
  head
    title Reset Password
    meta(name="description", content="Curriculum Vitae")
    meta(name="author", content="Marko Bošnjak")
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(href=url + "/images/fav/favicon.ico", rel="icon", type="image/x-icon")
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.10.2/css/all.css")
    link(rel="stylesheet", href="../../css/admin/resetPassword.css")
    script(src="https://code.jquery.com/jquery-3.4.1.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
    script(src="../../handlers/admin/resetPasswordHandlers.js")
  body
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.border-bottom
      button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarSupportedContent", aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon
      div#navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.ml-auto.mt-2.mt-lg-0
          li.nav-item.active
            a.nav-link(href=url + "/admin/login") Login
    div#resetPasswordErrorMessage.alert.alert-danger.alert-dismissible.fade.show
      strong
      button#hideResetPasswordErrorMessage.close(type="button")
        span(aria-hidden="true") &times;
    div#resetPasswordSuccessMessage.alert.alert-success.alert-dismissible.fade.show
      strong
      button#hideResetPasswordSuccessMessage.close(type="button")
        span(aria-hidden="true") &times;
    form#resetPasswordForm(method="POST", autocomplete="off")
      div.mb-4
        div.keyIcon
          i.fas.fa-key.fa-7x
        input#username(type="hidden", name="username", value=username)
        div.form-group
          input#firstPassword.form-control(type="password", name="firstPassword", placeholder="Password")
        div.form-group
          input#secondPassword.form-control(type="password", name="secondPassword", placeholder="Re-enter password")
        div.form-row
          button.btn.btn-lg.btn-primary.btn-block(type="submit") Reset
